@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-300: #0206184d;
  --dark-500: #020618;
  --dark-600: #0f172b;
  --gray-500: #e2e8f0;
  --gray-600: #62748e;
  --blue-500: #155dfc;
  --danger-500: #F9566A;
  --tertiary: #bdb2c7;

  --b-alpha-1: rgba(0,0,0,0.1);
  --b-alpha-3: rgba(0,0,0,0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-300: var(--dark-300);
  --color-dark-500: var(--dark-500);
  --color-dark-600: var(--dark-600);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-blue-500: var(--blue-500);
  --color-tertiary: var(--tertiary);
  --color-danger-500: var(--danger-500);

  --color-b-alpha-1: var(--b-alpha-1);
  --color-b-alpha-3: var(--b-alpha-3);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-card: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 6px -1px rgba(0,0,0,0.1);
  --shadow-box: 0 4px 6px -2px rgba(0,0,0,0.05), 0 10px 15px -3px rgba(0,0,0,0.1);
  --shadow-btn: 0 1px 2px 0 rgba(0,0,0,0.05);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}